<html>
 <head>
 <meta charset="UTF-8">
 <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" />
 <title>Lista de productos</title>
 </head>
 <body>
  <div name="navegador" class="navegador">
        <h2>carrito de compras </h2>
    <button type="submit" name="verorden" class="botones"> Ver orden</button>
    <button type="submit" name="salir" class="botones2"> Salir</button>
  </div>  
 <h2>Esta es la lista de productos</h2>
 </body>
</html>